<div class="row my-4">
    <div class="col-md-12">
        <h4 class="mb-3">Client Details</h4>
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            <span *ngIf="errorMessage">{{errorMessage}}</span>
        </div>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group">
                <label for="birthdayDate">BirthdayDate</label>
                <div class="input-group" [ngClass]="{ 'is-invalid': isInvalid('birthdayDate') }">
                    <input formControlName="birthdayDate" id="birthdayDate" [minDate]="minDate" [maxDate]="maxDate" #dpBirthdayDate="ngbDatepicker" ngbDatepicker placeholder="mm-dd-yyyy" class="form-control" [ngClass]="{ 'is-invalid': isInvalid('birthdayDate') }">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="dpBirthdayDate.toggle()" type="button"></button>
                    </div>
                </div>
                <div *ngIf="isInvalid('birthdayDate')" class="invalid-feedback">
                    <span *ngIf="birthdayDate.errors?.ngbDate" >Invalid date</span>
                </div>
            </div>
            <div class="form-group">
                <label for="firstName">FirstName</label>
                <input formControlName="firstName" id="firstName" class="form-control" [ngClass]="{ 'is-invalid': isInvalid('firstName') }">
                <div *ngIf="isInvalid('firstName')" class="invalid-feedback">
                    <span *ngIf="firstName.errors?.required">FirstName is required</span>
                    <span *ngIf="firstName.errors?.maxlength">FirstName must be max 100 characters long</span>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">LastName</label>
                <input formControlName="lastName" id="lastName" class="form-control" [ngClass]="{ 'is-invalid': isInvalid('lastName') }">
                <div *ngIf="isInvalid('lastName')" class="invalid-feedback">
                    <span *ngIf="lastName.errors?.required">LastName is required</span>
                    <span *ngIf="lastName.errors?.maxlength">LastName must be max 100 characters long</span>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input formControlName="email" id="email" class="form-control" [ngClass]="{ 'is-invalid': isInvalid('email') }">
                <div *ngIf="isInvalid('email')" class="invalid-feedback">
                    <span *ngIf="email.errors?.required">Email is required</span>
                    <span *ngIf="email.errors?.maxlength">Email must be max 200 characters long</span>
                    <span *ngIf="email.errors?.pattern">Email must be in email format email@email.com</span>
                </div>
            </div>
            <div class="form-group">
                <label for="phone01">Phone01</label>
                <input formControlName="phone01" id="phone01" class="form-control" [ngClass]="{ 'is-invalid': isInvalid('phone01') }">
                <div *ngIf="isInvalid('phone01')" class="invalid-feedback">
                    <span *ngIf="phone01.errors?.maxlength">Phone01 must be max 20 characters long</span>
                    <span *ngIf="phone01.errors?.pattern">Phone01 must be in phone number format XXX-XXX-XXXX</span>
                </div>
            </div>
            <div class="form-group">
                <label for="webSite">WebSite</label>
                <input formControlName="webSite" id="webSite" class="form-control" [ngClass]="{ 'is-invalid': isInvalid('webSite') }">
                <div *ngIf="isInvalid('webSite')" class="invalid-feedback">
                    <span *ngIf="webSite.errors?.maxlength">WebSite must be max 200 characters long</span>
                </div>
            </div>
            <div class="form-check">
                <input type="checkbox" formControlName="isActive" id="isActive" class="form-check-input">
                <label for="isActive" class="form-check-label">IsActive</label>
            </div>
            <div class="form-group">
                <label for="startDate">StartDate</label>
                <div class="input-group" [ngClass]="{ 'is-invalid': isInvalid('startDate') }">
                    <input formControlName="startDate" id="startDate" [minDate]="minDate" [maxDate]="maxDate" #dpStartDate="ngbDatepicker" ngbDatepicker placeholder="mm-dd-yyyy" class="form-control" [ngClass]="{ 'is-invalid': isInvalid('startDate') }">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="dpStartDate.toggle()" type="button"></button>
                    </div>
                </div>
                <div *ngIf="isInvalid('startDate')" class="invalid-feedback">
                    <span *ngIf="startDate.errors?.required">StartDate is required</span>
                    <span *ngIf="startDate.errors?.ngbDate" >Invalid date</span>
                </div>
            </div>
            <div class="form-group">
                <label for="updateDate">UpdateDate</label>
                <div class="input-group" [ngClass]="{ 'is-invalid': isInvalid('updateDate') }">
                    <input formControlName="updateDate" id="updateDate" [minDate]="minDate" [maxDate]="maxDate" #dpUpdateDate="ngbDatepicker" ngbDatepicker placeholder="mm-dd-yyyy" class="form-control" [ngClass]="{ 'is-invalid': isInvalid('updateDate') }">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="dpUpdateDate.toggle()" type="button"></button>
                    </div>
                </div>
                <div *ngIf="isInvalid('updateDate')" class="invalid-feedback">
                    <span *ngIf="updateDate.errors?.required">UpdateDate is required</span>
                    <span *ngIf="updateDate.errors?.ngbDate" >Invalid date</span>
                </div>
            </div>
            <div class="form-check">
                <input type="checkbox" formControlName="isDeleted" id="isDeleted" class="form-check-input">
                <label for="isDeleted" class="form-check-label">IsDeleted</label>
            </div>
            <div class="form-group">
                <label for="deleteDate">DeleteDate</label>
                <div class="input-group" [ngClass]="{ 'is-invalid': isInvalid('deleteDate') }">
                    <input formControlName="deleteDate" id="deleteDate" [minDate]="minDate" [maxDate]="maxDate" #dpDeleteDate="ngbDatepicker" ngbDatepicker placeholder="mm-dd-yyyy" class="form-control" [ngClass]="{ 'is-invalid': isInvalid('deleteDate') }">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="dpDeleteDate.toggle()" type="button"></button>
                    </div>
                </div>
                <div *ngIf="isInvalid('deleteDate')" class="invalid-feedback">
                    <span *ngIf="deleteDate.errors?.ngbDate" >Invalid date</span>
                </div>
            </div>
            <hr class="mb-4">
            <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                <span *ngIf="errorMessage">{{errorMessage}}</span>
            </div>
            <div class="float-right">
                <a routerLink="/client" class="btn btn-secondary mr-2">Cancel</a>
                <button *ngIf="id" type="button" (click)="onDelete()" class="btn btn-secondary mr-2">Delete</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>