<div class="row my-4">
  <div class="col-md-12">
    <h4 class="mb-3">Register</h4>
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      <span *ngIf="errorMessage">{{errorMessage}}</span>
    </div>
    <div *ngIf="message" class="alert alert-success" role="alert">
      <span *ngIf="message">{{message}}</span>
    </div>
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input formControlName="firstName" id="firstName" class="form-control"
          [ngClass]="{ 'is-invalid': isInvalid('firstName') }">
        <div *ngIf="isInvalid('firstName')" class="invalid-feedback">
          <span *ngIf="firstName.errors?.required">First Name is required</span>
          <span *ngIf="firstName.errors?.maxlength">First Name most be max 100 characters long</span>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input formControlName="lastName" id="lastName" class="form-control"
          [ngClass]="{ 'is-invalid': isInvalid('lastName') }">
        <div *ngIf="isInvalid('lastName')" class="invalid-feedback">
          <span *ngIf="lastName.errors?.required">Last Name is required</span>
          <span *ngIf="lastName.errors?.maxlength">Last Name most be max 100 characters long</span>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input formControlName="email" id="email" class="form-control" [ngClass]="{ 'is-invalid': isInvalid('email') }">
        <div *ngIf="isInvalid('email')" class="invalid-feedback">
          <span *ngIf="email.errors?.required">Email is required</span>
          <span *ngIf="email.errors?.maxlength">Email most be max 200 characters long</span>
          <span *ngIf="email.errors?.pattern">Email most be in email format email@email.com</span>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" id="password" class="form-control"
          [ngClass]="{ 'is-invalid': isInvalid('password') }">
        <div *ngIf="isInvalid('password')" class="invalid-feedback">
          <span *ngIf="password.errors?.required">Password is required</span>
          <span *ngIf="password.errors?.hasCapitalCase">Password most include at least one upper case letter<br></span>
          <span *ngIf="password.errors?.hasSmallCase">Password most include at least one lower case letter<br></span>
          <span *ngIf="password.errors?.hasNumber">Password most include at least one number<br></span>
          <span *ngIf="password.errors?.hasSpecialCharacters">Password most include at least one special
            character<br></span>
          <span *ngIf="password.errors?.minlength">Password most be min 8 characters long<br></span>
          <span *ngIf="password.errors?.maxlength">Password most be max 20 characters long<br></span>
        </div>
      </div>
      <div class="form-group">
        <a routerLink="/authentication/login" class="btn btn-link">Login</a>
        <a routerLink="/authentication/forgot-password" class="btn btn-link">Forgot Password</a>
      </div>
      <hr class="mb-4">
      <div class="float-right">
        <button type="button" (click)="onCancel()" class="btn btn-secondary mr-2">Cancel</button>
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
  </div>
</div>
